#card-main {
    margin-top: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    background:#fff;
}

#first-image {
    width: 286px;
    height: 190px;
}

 #background{
    background-image: url('../images/meetTheTeamImage.jpg');
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
}