/* .classnames */

/* #ids */


/* TOP CONTAINER HOME PAGE */

.img {
   
    width: 400px;
    height: 400px;
}

.img-div {
margin-top: 30px;
display: grid;
grid-template-rows: auto; 
}
.button {
    width: 300px;
    margin-left: 50px;
    margin-top: 20px;
}
.list-group {
    margin-top: 155px;
}

.title {
    top: 100px;
}
.title-image {
    width: 350px;
    height: 350px;
}
#top-container {
    background-image: url('../images/background.jpg');
  
    height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-col {
    margin-top: 200px;
   
}

#main-col-2 {
    margin-top: 200px;

}


#middle-img {
    text-align: center;
  
}

#book-button {
    margin-top: 10px;
   
    text-align: center;
}



#review-list {
    margin-top: 0px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 60px;
   
}
.review-title {
  
    text-align: center;
}

/* BARBER PICTURES CONTAINER HOME PAGE  */

#container-pictures {
    padding: 10px;
    margin-top: 50px;
    
}

.cut-image {
    width: 250px;
    height: 200px;
    border-radius: 3px;
    margin-right: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


/* footer */
#footer {
    border: 1px solid black;
    margin-top: 20px;
    background-color: black;
}

#footer-background {
    background-color: black;
    max-width: 100%;
}


/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  background-color: white;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}